/* ini css */

body {
    background-color: bisque;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 600px;
}

header {
    text-align: center;
    font-family: monospace;
}

#pembuka {
    font-family: 'Times New Roman', Times, serif;
}

.section-content {
    background-color: aquamarine;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.section-content>h3 {
    margin: 0;
}

#switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0px;
    color: aquamarine;
}

#switch-luas {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0px;
    color: aquamarine;
}

.formula-img {
    text-align: center;
}

img {
    height: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 50%;
    background: azure;
    border: 1px solid aquamarine;
    border-radius: 10px;
    padding: 4px;
    font-family: math;
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

.kalkulasi {
    padding: 18px;
    border-radius: 32%;
    border: 1px solid azure;
    background-color: aliceblue;
}

#reset {
    background-color: aquamarine;
    color: white;
}
